<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="animated fadeIn">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam deleniti explicabo incidunt rem facilis ab 
    saepe sapiente, dolorem dignissimos sit enim sequi. Numquam ea unde illo molestiae magnam nostrum iure?Lorem, 
    ipsum dolor sit amet consectetur adipisicing elit. Odio veritatis praesentium nostrum. Vero tempore, consequatur
     molestias veritatis possimus enim recusandae, labore nulla dolores, nemo nostrum. Sequi earum necessitatibus optio enim!
</p>